<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Wise Guy</title>
<style type="text/css">
*{
margin:0;
padding:0;
 }
#wrapper{
 border:0 none;
 margin:0 auto;
 min-height:620px;
 width:960px;
 }
ul.nav {
font-family: 'Trebuchet MS', Helvetica, sans-serif;
/*"Times New Roman", Times, serif;*/
/*font-size: 1.2em; */
margin: 0 0 1em 0;
padding: 0;
list-style: none;
font-size:14px;
}
li.l { float: left;}
li.r { float: right;}
.nav a{padding-left:5px; padding-right:5px;}
.nav a:link { color: white; text-decoration: none;}
.nav a:visited { color: white; text-decoration: none;}
.nav a:hover { background-color:#1A4C1A; text-decoration: none;}

.nav a.current {padding-left:5px; padding-right:2px;}
.nav a.current:link { background-color:#1A4C1A; text-decoration: none;}
.nav a.current:visited { background-color:#1A4C1A; text-decoration: none;}
.nav a.current:hover { color:white; text-decoration: none;}

a:link { color: #1A4C1A; text-decoration: none;}
a:visited { color:#339966; text-decoration: underline;}
a:hover { color:#339966; text-decoration: underline;}

hr.bottom {
border-top: 1px dotted #1A4C1A; 
color: #fff;
background-color: #fff;
height: 1px;
width:100%;
}

.nav1 {
font-family:'Trebuchet MS', Helvetica, sans-serif;
/*font-size: 20px; */
margin: 0 0 1em 0;
padding: 0;
list-style: none;
}
.nav1 a:link { color: #1A4C1A; text-decoration: none;}
.nav1 a:visited { color: #1A4C1A; text-decoration: none;}
.nav1 a:hover { color:#1A4C1A; text-decoration: none;}

.nav1 a.pass:link { color:	#C0C0C0; text-decoration: none;}
.nav1 a.pass:visited { color:	#C0C0C0; text-decoration: none;}
.nav1 a.pass:hover { color:#1A4C1A; text-decoration: none;}

.square{
background-color:#F9F9F9;
padding: 10px;
border: 0.5px solid #777168;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
}
table {
border-collapse:collapse;
width:900px;
table-layout:fixed;
font-size:14px;
}

td,th {
vertical-align:top; 
padding-top:5px; padding-bottom:5px;
padding-left:7px; padding-right:7px;
white-space: pre-line;      /* CSS 3.0 */
white-space: -pre-wrap;     /* Opera 4-6 */
white-space: -o-pre-wrap;   /* Opera 7 */
white-space: -moz-pre-wrap; /* Mozilla */
word-wrap: break-word;      /* IE 5+ */
}
td{
padding-left:10px;
}

.odd{
background-color:#F9F9F9;
border-bottom: 1px solid #C0C0C0;
border-top: 1px solid #C0C0C0;
}
.odd:hover{background-color:#E6F5EB;}
.even:hover{background-color:#E6F5EB;}

input.txt{
width:20px;
display:none;
}
input.txt-s{
width:20px;
display:block;
}

</style>
<script type="text/javascript">
	var endpoint = "http://ichoose.tw.rpi.edu/sparql";
	var query1="PREFIX certin:<http://ichoose.tw.rpi.edu/source/ctg-albany-edu/dataset/ontologies/version/latest/certification#> PREFIX rdfs:<http://www.w3.org/2000/01/rdf-schema#> "+ 
    "SELECT DISTINCT ?Standard ?OpenlyPublishedAt "+
    "WHERE { ?x rdfs:label ?Standard .  ?x certin:standardURI ?OpenlyPublishedAt . "+
    "FILTER regex(?Standard, 'FLO')}";
	var query2="PREFIX certin:<http://ichoose.tw.rpi.edu/source/ctg-albany-edu/dataset/ontologies/version/latest/certification#> PREFIX rdfs:<http://www.w3.org/2000/01/rdf-schema#> "+ 
    "SELECT DISTINCT ?StandardBody ?Certifier ?ComplianceCriteria_PublishedAt "+
    "WHERE { ?x rdfs:label ?StandardBody .  ?x rdfs:label ?Certifier . ?x certin:complianceCriteriaURI ?ComplianceCriteria_PublishedAt . "+
    "}";
	var query3="prefix dcterms: <http://purl.org/dc/terms/> prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> prefix certin: <http://ichoose.tw.rpi.edu/source/ctg-albany-edu/dataset/ontologies/version/latest/certification#> prefix ov: <http://open.vocab.org/terms/>"+ 
    "SELECT DISTINCT ?ComplianceCriterion ?Description ?NonConformity "+
    "WHERE { ?x dcterms:identifier ?ComplianceCriterion .  ?x dcterms:description ?Description . ?x certin:nonConformity ?NonConformity} "+
    "ORDER BY ?ComplianceCriterion";
 
function show_div_cat(){
var obj=document.getElementById("cat");
obj.style.display="block";
var link=document.getElementById("link_cat");
//link.style.text-decoration="underline";
link.style.color="#339966";
var status=document.getElementById("status");
status.innerHTML="Locate Product Manually";
}
function showall(){
var obj=document.getElementById("div_0");
obj.style.display="block";
obj=document.getElementById("div_1");
obj.style.display="block";
obj=document.getElementById("div_2");
obj.style.display="block";
obj=document.getElementById("div_3");
obj.style.display="block";
obj=document.getElementById("div_4");
obj.style.display="block";
}

function cal(){
  var as=0;
  var fs=0;
  var w=0;
  var sum_a=0;
  var sum_f=0;
  for (var i=0; i<17; i++){
    if (document.getElementById('w'+i)!==undefined && document.getElementById('w'+i)!==null&&
	document.getElementById('as'+i)!==undefined && document.getElementById('as'+i)!==null&&
	document.getElementById('fs'+i)!==undefined && document.getElementById('fs'+i)!==null)
	   {
	     if(document.getElementById('w'+i).value !==""&&document.getElementById('as'+i).value !==""&&document.getElementById('fs'+i).value !=="")
		   {
		     w=document.getElementById('w'+i).value;
			 as=document.getElementById('as'+i).value;
			 fs=document.getElementById('fs'+i).value;
			 sum_a=sum_a+as*w;
			 sum_f=sum_f+fs*w;
		   }
	   }
  }
  if(sum_f!==0){
  var score=sum_a/sum_f;
  document.getElementById('score').innerHTML=sum_a+"/"+sum_f+" = "+score.toFixed(2);
  }
}

function showvalue(){
  var obj = document.getElementById("factor");
  var f = obj.options[obj.selectedIndex].value;
  if(f=="f1"){
   document.getElementById('v1').innerHTML = "<a href='javascript:void(0);' onClick='javascript: sparqlQueryJson(query1, endpoint, myCallback, false);'>Click</a>";
   document.getElementById('w1').className = "txt-s";
   document.getElementById('as1').className = "txt-s";
   document.getElementById('fs1').className = "txt-s";
  }
  if(f=="f2"){
   document.getElementById('v2').innerHTML = "<a href='javascript:void(0);' onClick='javascript: sparqlQueryJson(query2, endpoint, myCallback, false);'>Click</a>";
   document.getElementById('w2').className = "txt-s";
   document.getElementById('as2').className = "txt-s";
   document.getElementById('fs2').className = "txt-s";
  }
  if(f=="f3"){
   document.getElementById('v3').innerHTML = "<a href='javascript:void(0);' onClick='javascript: sparqlQueryJson(query3, endpoint, myCallback, false);'>Click</a>";
   document.getElementById('w3').className = "txt-s";
   document.getElementById('as3').className = "txt-s";
   document.getElementById('fs3').className = "txt-s";
  }
  if(f=="f4"){
   document.getElementById('v4').innerHTML = "N/A";
    document.getElementById('w4').className = "txt-s";
   document.getElementById('as4').className = "txt-s";
   document.getElementById('fs4').className = "txt-s";
  }
   if(f=="f5"){
   document.getElementById('v5').innerHTML = "N/A";
   document.getElementById('w5').className = "txt-s";
   document.getElementById('as5').className = "txt-s";
   document.getElementById('fs5').className = "txt-s";
  }
   if(f=="f6"){
   document.getElementById('v6').innerHTML = "Auditor: Allan Bizzell";
    document.getElementById('w6').className = "txt-s";
   document.getElementById('as6').className = "txt-s";
   document.getElementById('fs6').className = "txt-s";
  }
   if(f=="f7"){

   document.getElementById('v7').innerHTML = "Date:06/06/2008; <br/>Place: 102 Van Dyke St., Bayonne, NJ 8901";
   document.getElementById('w7').className = "txt-s";
   document.getElementById('as7').className = "txt-s";
   document.getElementById('fs7').className = "txt-s";
  }
   if(f=="f8"){
   document.getElementById('v8').innerHTML = "Auditor: Allan Bizzell";
    document.getElementById('w8').className = "txt-s";
   document.getElementById('as8').className = "txt-s";
   document.getElementById('fs8').className = "txt-s";
  }
  if(f=="f9"){
  document.getElementById('v9').innerHTML = "N/A";
    document.getElementById('w9').className = "txt-s";
   document.getElementById('as9').className = "txt-s";
   document.getElementById('fs9').className = "txt-s";
  }
  if(f=="f10"){
  document.getElementById('v10').innerHTML = "N/A";
    document.getElementById('w10').className = "txt-s";
   document.getElementById('as10').className = "txt-s";
   document.getElementById('fs10').className = "txt-s";
  }
   if(f=="f11"){
  document.getElementById('v11').innerHTML = "N/A";
    document.getElementById('w11').className = "txt-s";
   document.getElementById('as11').className = "txt-s";
   document.getElementById('fs11').className = "txt-s";
  }
   if(f=="f12"){
  document.getElementById('v12').innerHTML = "N/A";
    document.getElementById('w12').className = "txt-s";
   document.getElementById('as12').className = "txt-s";
   document.getElementById('fs12').className = "txt-s";
  }
     if(f=="f13"){
  document.getElementById('v13').innerHTML = "N/A";
    document.getElementById('w13').className = "txt-s";
   document.getElementById('as13').className = "txt-s";
   document.getElementById('fs13').className = "txt-s";
  }
     if(f=="f14"){
  document.getElementById('v14').innerHTML = "N/A";
    document.getElementById('w14').className = "txt-s";
   document.getElementById('as14').className = "txt-s";
   document.getElementById('fs14').className = "txt-s";
  }
     if(f=="f15"){
  document.getElementById('v15').innerHTML = "Independency:<br/>3rd Party";
    document.getElementById('w15').className = "txt-s";
   document.getElementById('as15').className = "txt-s";
   document.getElementById('fs15').className = "txt-s";
  }
    if(f=="f16"){
   document.getElementById('v16').innerHTML = "<a href='javascript:void(0);' onClick='javascript:window.open(&quot;./results/2178-result16.txt&quot;,&quot;&quot;,&quot;left=50,width=250,height=200&quot;)'>Click</a>";
   document.getElementById('w16').className = "txt-s";
   document.getElementById('as16').className = "txt-s";
   document.getElementById('fs16').className = "txt-s";
  }
     if(f=="f17"){
   document.getElementById('v17').innerHTML = "Certify Officer:<br/> Janssen Martina";
    document.getElementById('w17').className = "txt-s";
   document.getElementById('as17').className = "txt-s";
   document.getElementById('fs17').className = "txt-s";
  }
       if(f=="f18"){
   document.getElementById('v18').innerHTML = "Certify Officer:<br/> Janssen Martina";
    document.getElementById('w18').className = "txt-s";
   document.getElementById('as18').className = "txt-s";
   document.getElementById('fs18').className = "txt-s";
  }
  cal();
}

function remove(){
  var obj = document.getElementById("factor");
  var f = obj.options[obj.selectedIndex].value;
  if(f=="f1"){
   document.getElementById('v1').innerHTML = "";
   document.getElementById('w1').className = "txt";
   document.getElementById('as1').className = "txt";
   document.getElementById('fs1').className = "txt";
   document.getElementById('w1').value = "";
   document.getElementById('as1').value = "";
   document.getElementById('fs1').value = "";
  }
  if(f=="f2"){
   document.getElementById('v2').innerHTML = "";
   document.getElementById('w2').className = "txt";
   document.getElementById('as2').className = "txt";
   document.getElementById('fs2').className = "txt";
   document.getElementById('w2').value = "";
   document.getElementById('as2').value = "";
   document.getElementById('fs2').value = "";
  }
  if(f=="f3"){
   document.getElementById('v3').innerHTML = "";
   document.getElementById('w3').className = "txt";
   document.getElementById('as3').className = "txt";
   document.getElementById('fs3').className = "txt";
   document.getElementById('w3').value = "";
   document.getElementById('as3').value = "";
   document.getElementById('fs3').value = "";
  }
  if(f=="f4"){
   document.getElementById('v4').innerHTML = "";
    document.getElementById('w4').className = "txt";
   document.getElementById('as4').className = "txt";
   document.getElementById('fs4').className = "txt";
   document.getElementById('w4').value = "";
   document.getElementById('as4').value = "";
   document.getElementById('fs4').value = "";
  }
   if(f=="f5"){
   document.getElementById('v5').innerHTML = "";
   document.getElementById('w5').className = "txt";
   document.getElementById('as5').className = "txt";
   document.getElementById('fs5').className = "txt";
   document.getElementById('w5').value = "";
   document.getElementById('as5').value = "";
   document.getElementById('fs5').value = "";
  }
   if(f=="f6"){
   document.getElementById('v6').innerHTML = "";
    document.getElementById('w6').className = "txt";
   document.getElementById('as6').className = "txt";
   document.getElementById('fs6').className = "txt";
   document.getElementById('w6').value = "";
   document.getElementById('as6').value = "";
   document.getElementById('fs6').value = "";
  }
   if(f=="f7"){
   document.getElementById('v7').innerHTML = "";
   document.getElementById('w7').className = "txt";
   document.getElementById('as7').className = "txt";
   document.getElementById('fs7').className = "txt";
   document.getElementById('w7').value = "";
   document.getElementById('as7').value = "";
   document.getElementById('fs7').value = "";
  }
   if(f=="f8"){
   document.getElementById('v8').innerHTML = "";
    document.getElementById('w8').className = "txt";
   document.getElementById('as8').className = "txt";
   document.getElementById('fs8').className = "txt";
   document.getElementById('w8').value = "";
   document.getElementById('as8').value = "";
   document.getElementById('fs8').value = "";
  }
  if(f=="f9"){
  document.getElementById('v9').innerHTML = "";
    document.getElementById('w9').className = "txt";
   document.getElementById('as9').className = "txt";
   document.getElementById('fs9').className = "txt";
   document.getElementById('w9').value = "";
   document.getElementById('as9').value = "";
   document.getElementById('fs9').value = "";
  }
  if(f=="f10"){
  document.getElementById('v10').innerHTML = "";
    document.getElementById('w10').className = "txt";
   document.getElementById('as10').className = "txt";
   document.getElementById('fs10').className = "txt";
   document.getElementById('w10').value = "";
   document.getElementById('as10').value = "";
   document.getElementById('fs10').value = "";
  }
   if(f=="f11"){
  document.getElementById('v11').innerHTML = "";
    document.getElementById('w11').className = "txt";
   document.getElementById('as11').className = "txt";
   document.getElementById('fs11').className = "txt";
   document.getElementById('w11').value = "";
   document.getElementById('as11').value = "";
   document.getElementById('fs11').value = "";
  }
   if(f=="f12"){
  document.getElementById('v12').innerHTML = "";
    document.getElementById('w12').className = "txt";
   document.getElementById('as12').className = "txt";
   document.getElementById('fs12').className = "txt";
   document.getElementById('w12').value = "";
   document.getElementById('as12').value = "";
   document.getElementById('fs12').value = "";
  }
     if(f=="f13"){
  document.getElementById('v13').innerHTML = "";
    document.getElementById('w13').className = "txt";
   document.getElementById('as13').className = "txt";
   document.getElementById('fs13').className = "txt";
   document.getElementById('w13').value = "";
   document.getElementById('as13').value = "";
   document.getElementById('fs13').value = "";
  }
     if(f=="f14"){
  document.getElementById('v14').innerHTML = "";
    document.getElementById('w14').className = "txt";
   document.getElementById('as14').className = "txt";
   document.getElementById('fs14').className = "txt";
   document.getElementById('w14').value = "";
   document.getElementById('as14').value = "";
   document.getElementById('fs14').value = "";
  }
     if(f=="f15"){
  document.getElementById('v15').innerHTML = "";
    document.getElementById('w15').className = "txt";
   document.getElementById('as15').className = "txt";
   document.getElementById('fs15').className = "txt";
   document.getElementById('w15').value = "";
   document.getElementById('as15').value = "";
   document.getElementById('fs15').value = "";
  }
    if(f=="f16"){
   document.getElementById('v16').innerHTML = "";
   document.getElementById('w16').className = "txt";
   document.getElementById('as16').className = "txt";
   document.getElementById('fs16').className = "txt";
   document.getElementById('w16').value = "";
   document.getElementById('as16').value = "";
   document.getElementById('fs16').value = "";
  }
     if(f=="f17"){
   document.getElementById('v17').innerHTML = "";
    document.getElementById('w17').className = "txt";
   document.getElementById('as17').className = "txt";
   document.getElementById('fs17').className = "txt";
   document.getElementById('w17').value = "";
   document.getElementById('as17').value = "";
   document.getElementById('fs17').value = "";
  }
       if(f=="f18"){
   document.getElementById('v18').innerHTML = "";
    document.getElementById('w18').className = "txt";
   document.getElementById('as18').className = "txt";
   document.getElementById('fs18').className = "txt";
   document.getElementById('w18').value = "";
   document.getElementById('as18').value = "";
   document.getElementById('fs18').value = "";
  }
  cal();
}

    /**
     * Author: Mark Wallace
     * Modified by: WR
     * This function asynchronously issues a SPARQL query to a
     * SPARQL endpoint, and invokes the callback function with the JSON 
     * Format [1] results.
     *
     * Refs:
     * [1] http://www.w3.org/TR/sparql11-results-json/
     */
    function sparqlQueryJson(queryStr, endpoint, callback, isDebug) {
	  //alert(queryStr);
      var querypart = "query=" + escape(queryStr);
      
      // Get our HTTP request object.
      var xmlhttp = null;
      if(window.XMLHttpRequest) {
        xmlhttp = new XMLHttpRequest();
     } else if(window.ActiveXObject) {
       // Code for older versions of IE, like IE6 and before.
       xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
     } else {
       alert('Perhaps your browser does not support XMLHttpRequests?');
     }
    
     // Set up a POST with JSON result format.
     xmlhttp.open('POST', endpoint, true); // GET can have caching probs, so POST
     xmlhttp.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
     xmlhttp.setRequestHeader("Accept", "application/sparql-results+json");
    
     // Set up callback to get the response asynchronously.
     xmlhttp.onreadystatechange = function() {
       if(xmlhttp.readyState == 4) {
         if(xmlhttp.status == 200) {
           // Do something with the results
           if(isDebug) alert(xmlhttp.responseText);
           callback(xmlhttp.responseText);
         } else {
           // Some kind of error occurred.
           alert("Sparql query error: " + xmlhttp.status + " "
               + xmlhttp.responseText);
         }
       }
     };
     // Send the query to the endpoint.
     xmlhttp.send(querypart);
    
     // Done; now just wait for the callback to be called.
    };
   
      // Define a callback function to receive the SPARQL JSON result.
      function myCallback(str) {
        // Convert result to JSON
        var jsonObj = eval('(' + str + ')');

        // Build up a table of results.
        var result = " <table>" ;
		result += "<thead><tr>"
		for(var i = 0; i<jsonObj.head.vars.length; i++) {
		 result += " <th>" + jsonObj.head.vars[i] + "</th>";
		}
		result += "</tr></thead>";
        for(var i = 0; i<jsonObj.results.bindings.length; i++) {
		  var style="odd";
		  if ((i+1)%2 == 0){style="even"};
		  result += '<tr class="'+style+'">'
		  for (var j=0; j<jsonObj.head.vars.length; j++){
		  var col=jsonObj.head.vars[j];
          result += '<td>' + jsonObj.results.bindings[i][col].value + '</td>';
           }
		  result += "</tr>";
        } 
        result += "</table>" ;
		//alert(result);
		var HTMLstring='<HTML>\n';
            HTMLstring+='<HEAD>\n';
            HTMLstring+='<TITLE>Ichoose: Search Results</TITLE>\n';
			HTMLstring+='<link rel="stylesheet" type="text/css" href="results.css">\n';
            HTMLstring+='</HEAD>\n';
            HTMLstring+='<BODY style="height:100%; margin:0px; font-family:&quot;Trebuchet MS&quot;, Helvetica, sans-serif; font-size:15px; background-color:#E6F5EB;">\n';
			HTMLstring+='<div id="wrapper" style="background-color:#E6F5EB;">'
            //HTMLstring+='<h3 Style="">Search Results: </h3>\n';
	        HTMLstring+=result;
            HTMLstring+='</div></BODY>\n';
            HTMLstring+='</HTML>';
		//alert(HTMLstring);
		var newwindow=window.open('','','left=200,width=800,height=400');
        var newdocument=newwindow.document;
        newdocument.write(HTMLstring);
        newdocument.close();
		}    
</script>
</head>
<body style="height:100%; margin:0px; text-align:center; font-family:'Trebuchet MS', Helvetica, sans-serif; font-size:15px; background-color: #006633;" >
<div id="wrapper" style="background-color:#E6F5EB; ">
<div style="width:960px; margin-top:0px; margin-right:auto; margin-left:auto;" id="header">
    <div style="margin-top:0px; height:52px;"><img src="./images/wg-s.jpg" style="float:left; margin-right:10px;"><p style="text-align:left; padding-top:20px; font-size:20px; color:#339966; ">
	    Welcome to <b>Wise Guy</b> Product Certification & Verification System</p></div>
    <div style="width:950px; height:20px; margin-right:auto; margin-left:auto; background-color:#339966; padding-top:0px;  padding-left:0px; padding-right:10px"><ul class="nav">
	<li class="l"><a  href="index.html">Home </a><span style="color:white; font-size:14px; font-weight:bold; margin-right:3px;">| </span></li>
	<li class="l"><a  href="about.html"> About Us </a><span style="color:white; font-size:14px; font-weight:bold; margin-right:3px;">| </span></li>
	<li class="l"><a  href="#"> Contact Us </a><span style="color:white; font-size:14px; font-weight:bold; margin-right:3px;">| </span></li>
	<li class="l"><a  href="javascript: alert('Please log in.')"> My Search </a><span style="color:white; font-size:14px; font-weight:bold; margin-right:3px;">| </span></li>
    <li class="r"><a  href="#">Log In</a></li>
    <li class="r"><a  href="#"> Sign Up </a><span style="color:white; font-size:14px; font-weight:bold; margin-right:3px;">| </span></li>
   </ul></div>
</div><!--end div#header-->
<div id="content" style="width:960px; min-height:480px;  margin-right:auto; margin-left:auto;"> 
	<div style="width:960px;  margin-left:20px; margin-top:10px;">
	<div style="float:left; width:880px;"><p style="align:left; text-align:left; color:#339966">Your current status: <span id="status" style="">Search on <em style="text-decoration:underline;">Blue Kenya Fairtrade Organic Coffee</em> sold by Roaster <em style="text-decoration:underline;">Maritime Le Torrefactuer</em> 
	imported from <em style="text-decoration:underline;">Importadores y Distribuidores de la Materia Para America Latina</em>
	--> <em style="text-decoration:underline;">FLO-CERT</em></span><br/><br/></p></div>
	<div style="clear:both"></div>
	 <ul class="nav1">
	<li class="l"><a  class="pass" href="id.html">Identify Product </a><img src="./images/right-1.ico" style="vertical-align: bottom"></li>
	<li class="l"><a  class="pass"href="source.html"> Trace Product Source </a><img src="./images/right-1.ico" style="vertical-align: bottom"></li>
	<li class="l"><a  class="pass" href="certify-i.html"> Search Product Certification Information </a><img src="./images/right-1.ico" style="vertical-align: bottom"></li>
	<li class="l" style="padding-top: 5px"><a  href="#"> Evaluate Certification Trustworthiness </a></li>
   </ul></div><div style="clear:both"></div>
   <form action="#">
   <div style="width:960px; margin-top:20px; margin-left:0px; float:left;"><div style="float:left; text-align:left; width:800px; margin-left:20px;">Select your prefered trust factors and assign factor weights to evaluate the certification: 
     <br/><br/>This certification <select id="factor" style="margin-left:5px; margin-right:10px;">
	   <option value="" selected="selected">-----Trust Factor-----</option>
       <option value="f1">1.Is certification standard openly published</option> 
       <option value="f2">2.Is certification compliance criteria/control points openly published</option>	
	   <option value="">-----Trust Factor-----</option>
       <option value="f3">3.Inspection/Audit results openly published</option> 
       <option value="f4">4.Can know what accountable & transparent standards are</option>	 
	   <option value="f5">5.Can know how measured against accountable & transparent standards</option>
	    <option value="">-----Trust Factor-----</option>
	   <option value="f6">6.Inspection reports signed by an inspector</option>  
       <option value="f7">7.Can know date & place of certification</option>	 
	   <option value="f8">8.Can know who is the inspector</option>
	   <option value="f9">9.Can know what scores of inspection reports for all criteria</option>
	   <option value="">-----Trust Factor-----</option>
	   <option value="f10">10.Non-conformity(measured score below standard) information is available</option>	   
       <option value="f11">11.Can know what are non-conformities</option>	 
	   <option value="f12">12.Can know how non-conformities are handled</option>
	   <option value="">-----Trust Factor-----</option>
	   <option value="f13">13.Can know who defines/certifies criteria</option>
		<option value="f14">14.Can know who gives certificate/certifies certifier</option>   
       <option value="f15">15.Criteria & standard setters are independent from the certification giver</option>	
       <option value="f16">16.Criteria & standard setters are independent from the inspector</option>
        <option value="">-----Trust Factor-----</option>	   
	   <option value="f17">17.Is signed by a certifier</option>
	   <option value="f18">18.Can know who is the certifier</option>
      </select>
	  <input type="submit" value="Add" onclick="javascript:showvalue();" style="margin-right:5px;"/>
	  <input type="submit" value="Remove" onclick="javascript:remove();"/></div>
	</div> 
   </form>
   <div style="width:960px; margin-top:10px; margin-left:auto; margin-right:auto;">
     <div style="float:left; text-align:left; width:800px; margin-left:20px; margin-top:20px;">
	 <form action="#">
     <p >Overall Trustworthiness Rating = Sum of Actual Trust Scores/Sum of Full Trust Scores = <span id="score" style="color:#FF0000; width:50px; padding-right:5px;">
	 </span>
	 <input type="submit" value="Calculate" onclick="javascript:cal();"/></p>
	 </form>
    <br/>
	<form action="#">
	<div id="results"></div>
   <table>
		  <thead>
		    <tr>
			  <th style="width:45%;">Trust Factor</th>
			  <th style="">Search Results</th>
			  <th style="width:10%;">Weight</th>
			  <th style="width:10%;">Given Score</th>
			  <th style="width:10%;">Full Score</th>
			</tr>
			</thead>
		  <tbody> 
		    <tr class="even">
			  <td >1.Is certification standard openly published</td>
			  <td id="v1"></td>
			  <td><input class="txt" type="text" value=0 id="w1" onchange="cal();"/></td>
			  <td><input class="txt" type="text" value=0 id="as1" onchange="cal();"/></td>
			  <td><input class="txt" type="text" value=0 id="fs1" onchange="cal();"/></td>
			</tr>
			<tr class="odd">
			  <td >2.Is certification compliance criteria/control points openly published</td>
			  <td id="v2"></td>
			  <td><input class="txt" type="text" value=0 id="w2" onchange="cal();"/></td>
			  <td><input class="txt" type="text" value=0 id="as2" onchange="cal();"/></td>
			  <td><input class="txt" type="text" value=0 id="fs2" onchange="cal();"/></td>
			</tr>
			<tr class="even">
			  <td >3.Inspection/Audit results openly published</td>
			  <td id="v3"></td>
			  <td><input class="txt" type="text" value=0 id="w3" onchange="cal();"/></td>
			  <td><input class="txt" type="text" value=0 id="as3" onchange="cal();"/></td>
			  <td><input class="txt" type="text" value=0 id="fs3" onchange="cal();"/></td>
			</tr>
			<tr class="odd">
			  <td >4.Can know what accountable & transparent standards are</td>
			   <td id="v4"></td>
			  <td><input class="txt" type="text" value=0 id="w4" onchange="cal();"/></td>
			  <td><input class="txt" type="text" value=0 id="as4" onchange="cal();"/></td>
			  <td><input class="txt" type="text" value=0 id="fs4" onchange="cal();"/></td>
			</tr>
			<tr class="even">
			  <td >5.Can know how measured against accountable & transparent standards</td>
			  <td id="v5"></td>
			  <td><input class="txt" type="text" value=0 id="w5" onchange="cal();"/></td>
			  <td><input class="txt" type="text" value=0 id="as5" onchange="cal();"/></td>
			  <td><input class="txt" type="text" value=0 id="fs5" onchange="cal();"/></td>
			</tr>
			<tr class="odd">
			  <td >6.Inspection reports signed by an inspector</td>
			 <td id="v6"></td>
			 <td><input class="txt" type="text" value=0 id="w6" onchange="cal();"/></td>
			  <td><input class="txt" type="text" value=0 id="as6" onchange="cal();"/></td>
			  <td><input class="txt" type="text" value=0 id="fs6" onchange="cal();"/></td>
			</tr>
			<tr class="even">
			  <td >7.Can know date & place of certification</td>
			 <td id="v7"></td>
			  <td><input class="txt" type="text" value=0 id="w7" onchange="cal();"/></td>
			  <td><input class="txt" type="text" value=0 id="as7" onchange="cal();"/></td>
			  <td><input class="txt" type="text" value=0 id="fs7" onchange="cal();"/></td>
			</tr>
			<tr class="odd">
			  <td >8.Can know who is the inspector</td>
			  <td id="v8"></td>
			  <td><input class="txt" type="text" value=0 id="w8" onchange="cal();"/></td>
			  <td><input class="txt" type="text" value=0 id="as8" onchange="cal();"/></td>
			  <td><input class="txt" type="text" value=0 id="fs8" onchange="cal();"/></td>
			</tr>
			<tr class="even">
			  <td >9.Can know what scores of inspection reports for all criteria</td>
			 <td id="v9"></td>
			  <td><input class="txt" type="text" value=0 id="w9" onchange="cal();"/></td>
			  <td><input class="txt" type="text" value=0 id="as9" onchange="cal();"/></td>
			  <td><input class="txt" type="text" value=0 id="fs9" onchange="cal();"/></td>
			</tr>
			<tr class="odd">
			  <td >10.Non-conformity(measured score below standard) information is available</td>
			 <td id="v10"></td>
			 <td><input class="txt" type="text" value=0 id="w10" onchange="cal();"/></td>
			  <td><input class="txt" type="text" value=0 id="as10" onchange="cal();"/></td>
			  <td><input class="txt" type="text" value=0 id="fs10" onchange="cal();"/></td>
			</tr>
			<tr class="even">
			  <td >11.Can know what are non-conformities</td>
			 <td id="v11"></td>
			 <td><input class="txt" type="text" value=0 id="w11" onchange="cal();"/></td>
			  <td><input class="txt" type="text" value=0 id="as11" onchange="cal();"/></td>
			  <td><input class="txt" type="text" value=0 id="fs11" onchange="cal();"/></td>
			</tr>
			<tr class="odd">
			  <td >12.Can know how non-conformities are handled</td>
			  <td id="v12"></td>
			 <td><input class="txt" type="text" value=0 id="w12" onchange="cal();"/></td>
			  <td><input class="txt" type="text" value=0 id="as12" onchange="cal();"/></td>
			  <td><input class="txt" type="text" value=0 id="fs12" onchange="cal();"/></td>
			</tr>
			<tr class="even">
			  <td >13.Can know who defines/certifies criteria</td>
			 <td id="v13"></td>
			 <td><input class="txt" type="text" value=0 id="w13" onchange="cal();"/></td>
			  <td><input class="txt" type="text" value=0 id="as13" onchange="cal();"/></td>
			  <td><input class="txt" type="text" value=0 id="fs13" onchange="cal();"/></td>
			</tr>
			<tr class="odd">
			  <td >14.Can know who gives certificate/certifies certifier</td>
			 <td id="v14"></td>
			  <td><input class="txt" type="text" value=0 id="w14" onchange="cal();"/></td>
			  <td><input class="txt" type="text" value=0 id="as14" onchange="cal();"/></td>
			  <td><input class="txt" type="text" value=0 id="fs14" onchange="cal();"/></td>
			</tr>
			<tr class="even">
			  <td >15.Criteria & standard setters are independent from the certification giver</td>
			   <td id="v15"></td>
			  <td><input class="txt" type="text" value=0 id="w15" onchange="cal();"/></td>
			  <td><input class="txt" type="text" value=0 id="as15" onchange="cal();"/></td>
			  <td><input class="txt" type="text" value=0 id="fs15" onchange="cal();"/></td>
			</tr>
			<tr class="odd">
			  <td >16.Criteria & standard setters are independent from the inspector</td>
			   <td id="v16"></td>
			  <td><input class="txt" type="text" value=0 id="w16" onchange="cal();"/></td>
			  <td><input class="txt" type="text" value=0 id="as16" onchange="cal();"/></td>
			  <td><input class="txt" type="text" value=0 id="fs16" onchange="cal();"/></td>
			</tr>
			<tr class="even">
			  <td >17.Is signed by a certifier</td>
			  <td id="v17"></td>
			  <td><input class="txt" type="text" value=0 id="w17" onchange="cal();"/></td>
			  <td><input class="txt" type="text" value=0 id="as17" onchange="cal();"/></td>
			  <td><input class="txt" type="text" value=0 id="fs17" onchange="cal();"/></td>
			</tr>
			<tr class="odd">
			  <td >18.Can know who is the certifier</td>
			 <td id="v18"></td>
			  <td><input class="txt" type="text" value=0 id="w18" onchange="cal();"/></td>
			  <td><input class="txt" type="text" value=0 id="as18" onchange="cal();"/></td>
			  <td><input class="txt" type="text" value=0 id="fs18" onchange="cal();"/></td>
			</tr>		 
		  </tbody>
		</table>
		<form/>
		</div>
      </div>

	
</div><!--end div#content-->
<div style="clear:both"></div>
<div id="footer" style="margin-top:30px;">
<hr class="bottom"/>
<p style="font-size:14px; margin-top:0px; color:#1A4C1A;">Copyright 2013 Wise Guy, All rights reserved.<br/><br/></p>
</div><!--end div#footer-->
</div><!--end div#wrapper-->
</body>